build-tools/7z.dll
build-tools/7z.exe
client/internal/clients/shared/shared.js
client/internal/docs
client/internal/logs
client/internal/serverState.json
client/sessions
client/settings.json
client/users
release
server/node_modules

.vscode
*.code-workspace
.DS_Store
desktop.ini

node_modules
server/internal
