.DS_Store
.vscode
build-tools/7z.dll
build-tools/7z.exe
desktop.ini
node_modules/*
source/internal/clients/shared/shared.js
source/internal/logs
source/internal/serverState.json
source/internal/settings.js
source/node_modules/*
source/queues
source/sessions
source/users
