<html>
    <body>
        <div class='first'>
            <div class='second'>
                <span class='third'>fewiaoj</span>
                <span class='fourth'>x</span>
            </div>
            <div class='second'>
                    <span class='third'>fewiaoj fhdsakjlfjskdaf sajdlfk jsadlf sadf </span>
                    <span class='fourth'>x</span>
                </div>
            
        </div>
</body>
    <style>

    body {
        font-size: 36pt;
    }
    .first {
        display: flex;
        flex-direction: column;
        background-color: red;
        max-width: 20rem;
    }

    .second {
        background-color: green;
        flex: 1 1 auto;
        display: flex;
    }

    .third {
        flex: 1 1 auto;
    }

    .fourth {
        flex: 0 0 auto;
    }

    span {
        background-color: yellow;
    }
    </style>
</html>