<html>
<body>
    <div class='d1'>
        <div class='d2'>
            <div class='d3'>fafjew alfj we jweaf jf ewafewa</div>
            <div class='d4'>abc</div>
        </div>
        <div class='d2'>
            <div class='d3'>fafjew alfj we</div>
            <div class='d4'>abc</div>
        </div>
    </div>
<br><br>
    <div class='d1'>
        <div class='d2'>
            <div class='d3'>fafjewa</div>
            <div class='d4'>abc</div>
        </div>
        <div class='d2'>
            <div class='d3'>fafjew alfj we</div>
            <div class='d4'>abc</div>
        </div>
    </div>

</body>
<style>
.d1 {
    padding: 1rem;
    background-color: yellow;
}
.d2 {
    display: flex;
}
.d3 {
    flex: 1 1 auto;
    background-color: #888;
    max-width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.d4 {
    flex: 0 0 auto;
    background-color: #AAA;
}
</style>

</html>